/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
.main{
    display:flex;
    width:100%;
    flex-direction: row;
}
.taskbar{
    display:flex;
    width:20%;
    height:100vh;
    flex-direction: column;
    border:1px solid black;
    background-color:#3f0e40;
    justify-content: first baseline;
    


}
.tk-2019{
    display:flex;
    justify-content: space-between;
    margin:10px 15px;
    align-items: flex-start;
  
    
    
   


}
.tk-2019 .head{
    color:white;
    font-size: 15px;
    
}
.tk-2019 .head h2{
    
    margin:0;
    margin-left:10px;
}
.tk-2019 p{
    color:#826580;
}
.tk-2019 .head span{
    color:green;
    margin:0;
    margin-left:5px;
    font-size:10px;

   
}
.tk-2019 i{
   
  
    font-size:30px;
    color:white;
    font-weight: 200;
    
}
.taskbar .search{
    display:flex;
    flex-direction: column;
  align-items: flex-start;
  
  color: #826580;
  
  
  
}
.taskbar .search .search-bar{
    display:flex;
    border:1px solid black;
    justify-content: space-around;
    border-radius: 5px;
    background-color:#260027;
    width:90%;
    padding:10px 0;
    align-self: center;
    
    

    
}
.search-bar input{
   
    border:none;
    background:none;
    outline:none;
    float:right;
   
   
}

.taskbar .search button{
    
   font-size:15px;
    margin:15px 4px;
    border:none;
    background-color:#3f0e40;
    color:#826580;
    text-align: center;
    
}
.taskbar .search button i{
    margin:0 10px;
}
.channel{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
    
    
}
.channel .mainch{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:4px 10px;
    color: #826580;
    font-size: 20px;

}

.mainch h4,p{
    margin:0;
    
    
}
.channel{
    cursor: pointer;
}
.channel p{
    align-self: flex-start;
    padding:2px 20px;
    font-size:17px;
    color: #826580;
}
.mainch:hover{
    color:white;
}
.channel p:hover{
    color:white;
    
}
.channel p i{
    font-size:10px;
    color:green;
}
.taskbar .search button:hover{
    color:white;
    cursor: pointer;
}
.taskbar .search .search-bar:hover{
    background-color: #fff;
    
}

.chatbox{
display:flex;
width:80%;

flex-direction: column;
border:1px solid black;



}
header{
    display:flex;
    justify-content: space-between;
    padding-bottom:20px;
}
.heading{
    display:flex;
    flex-direction: column;
}
header .heading h2{
    margin:0;
    margin-bottom:10px;
    
}
header .heading .iconheader i{
    margin-left:10px;
    border-right:1px solid black;
    padding:0 10px;
}
header .contact i{
    margin:10px 10px;
    
    
}
header .contact input{
    margin-right:10px;
    border-radius: 20px;
}
fieldset{
    border-bottom:none;
    border-left:none;
    border-right:none;
}
legend{
    text-align: center;
}
.chatcontent{
    display:flex;
    justify-content: flex-start;
}
.name {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.name h3,p{
    margin:0;
}
span{
    margin-left:30px;
}

@media all and (max-width:1000px){
    .main{
        flex-direction: column;
    }
    .taskbar{
        width:100%;
    }
    .chatbox{
        width:100%;
    }
}


